{% block head %}
    <title>Welcome to a chatt website that took way to long to make, please create an acccount or login</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
{% endblock %}
{% block body %}
    <center>
    <img class="logo" src="static/frog_logo.png"></img>
    </center>
    <h2>PurpleFrogWire</h2>
    <form method="post">
        <input type="text" placeholder="name" name="name" class="txt_in"></input>
        <p></p>
        <input type="submit" placeholder="password" value="Enter" class="btn"></input>
    </form>
{% endblock %}
